.App {
  text-align: center;
  /* display: flex; */
  margin: 50px;
}

.container {
  border: 2px solid black;
  margin: 10px auto;
  padding: 20px;
  width: 50%;
  height: 300px;
}

i {
  color: red;
}

input {
  margin: 8px;
  width: 230px;
  height: 20px;
  font-size: medium;
}

p {
  font-size: larger;
}

button {
  height: 30px;
  /* width: 90px; */
  font-size: medium;
  border: 2px solid gray;
  color: white;
  background-color: green;
  font-weight: bold;
  margin: 5px;
}

h2 {
  color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
